@import "../styles/mixins/mixinsRegular.scss";

.about-movie {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 2.5vh;
  &__btn {
    grid-column: 2/9;
    margin-top: 1vh;
    margin-bottom: 1vh;
    .button--active {
      @include button;
      background-color: rgb(233, 232, 232);
      color: rgb(158, 157, 157);
      margin-right: 1vw;
      &:hover {
        background-color: #e77f9e;
      }
    }
    .button--inactive {
      @include button;
      margin-right: 1vw;
      &:hover {
        background-color: #e77f9e;
      }
    }
  }
}
