@import "../styles/mixins/mixinsRegular.scss";

.about-movie {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  &__btn {
    grid-column: 2/9;
    margin-top: 1vh;
    margin-bottom: 1vh;
    button {
      @include button;
      margin-right: 1vw;
    }
    button:hover {
      background-color: #e77f9e;
    }
  }
}
