@import "./mixins/mixinsRegular";

.banner {
  display: flex;
  &__shadow {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100vw;
    height: 40vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    @include content;
    color: white;
    &__content {
      grid-column: 2/10;
      &--rating {
        margin-left: 0.6vw;
        li {
          margin-top: -1.7vh;
          margin-left: -0.5vw;
        }
      }
      button {
        margin-right: 1vw;
        @include button;
        font-size: 1.7vh;
      }
      button:hover {
        background-color: #f37097;
      }
    }
  }
  &__img {
    display: flex;
    img {
      width: 100vw;
      height: 40vh;
    }
  }
}
