@import "../styles/mixins/mixinsLayout";
@import "../styles/mixins/mixinsUser";

.header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: white;
  width: 100vw;
  &__brand {
    grid-column: 2/5;
    margin-bottom: -2.5vh;
    margin-top: -2.5vh;
    &__container {
      display: flex;
      cursor: pointer;
      h4 {
        font-size: 3.5vh;
        margin-left: 1vw;
      }
    }
  }
  &__search {
    grid-column: 5/10;
    &__input {
      height: 4vh;
      width: 35vw;
      margin-top: 2vh;
      padding-left: 0.7vw;
    }
  }
  &__user {
    grid-column: 11/12;
    margin-top: 0.5vh;
    img {
      max-width: 3vw;
      height: 6vh;
      border-radius: 100%;
    }
    &__dropdown {
      button {
        @include userfont;
        display: flex;
        color: black;
        background-color: white;
        border: solid;
        border-color: grey;
      }
    }
    &__btn {
      border: none;
      @include userfont;
      font-size: 2.5vh;
      text-decoration: none;
      color: black;
      cursor: pointer;
      background-color: white;
      margin-top: 1vh;
    }
    &__btn:hover {
      color: #fe024e;
    }
  }
}
