@import "./mixins/mixinsRegular";

.movies {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  &__list {
    grid-column: 2/12;
    display: flex;
    img {
      max-width: 10vw;
      max-height: 28vh;
      margin-right: 1.2vw;
    }
    p {
      @include content;
      display: flex;
      margin-top: 1vh;
      margin-bottom: 2vh;
      margin-left: -4vh;
      justify-content: center;
      font-weight: 600;
    }
  }
}
